<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 <display-name>GrunWeb</display-name>
 <session-config>
  <cookie-config>
   <name>sample</name>
   <http-only>true</http-only>
   <secure>true</secure>
  </cookie-config>
  <tracking-mode>COOKIE</tracking-mode>
  <tracking-mode>SSL</tracking-mode>
  <tracking-mode>URL</tracking-mode>
 </session-config>
 <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
  <welcome-file>default.html</welcome-file>
 </welcome-file-list>
</web-app>
